//Fontes
$font-family: Roboto, sans-serif;
$menu-font-weight: bold;
$product-button-text-align: center;

// Esquema de cores
$background-color: #f5f6fa;
$header-background-color: #182C61;
$menu-link-color: #fff;
$product-button-color: #fff;
$product-button-background-color: #44bd32;
$product-button-hover-background-color: #4cd137;

// Breakpoints
$container-max-width: 1024px;

// Medidas
$menu-margin-left: 24px;
$section-padding: 56px 0;
$products-margin-top: 40px;
$products-grid-template-columns: repeat(3, 32.66%);
$products-column-gap: 1%;
$products-row-gap: 4%;
$products-width: 100%;
$product-item-img-width: 100%;
$product-button-padding: 8px 0;
$product-button-border-radius: 8px;
$product-button-margin-top: 8px;



